/* Place all the styles related to the requests controller here. 
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/  */




body {
    max-width: 100%;
    background-image: image-url('wooden_desk.png');
    display: flex;
    flex-direction: column;
}


/* Provides a shadow on the desk */
#gradient {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(255,0,0,0), black);
    opacity: 0.4;
}




/* These rules should render for small screens first */
.letter, .footer, .navbar-fixed-bottom, option {
    background-image: image-url('plain-paper-background.jpg');
    box-shadow: 3px 11px 15px black;
    height: 60%;
    padding: 10%;
    position: relative;

    
    /* Center The Letter: */
    float: none;
    margin: 0 auto;
    top: 15px;
    /* Font related styling: */
    font-family: Courier, Georgia, serif;
    font-size: 120%;
    font-weight: italic;
    

    textarea {
	background: inherit;

	&::placeholder {
	    text-overflow: elipses;
	    font-weight: 100;
	}
    }


    
    input, select, {

	
	&:focus, &:active {
		     border-bottom: 1px solid grey;
		     box-shadow: inherit;
		 }

	/* Make the inputs have lines on the bottom instead of being an indented box */
	border: none;
	border-bottom: 1px solid grey;
	border-radius: 1px;
	box-shadow: none;
	background: inherit;
	margin: auto;
	width: 100%;
	text-overflow: elipses;
	
	&::placeholder {
	    font-weight: 100;
	    text-overflow: elipses;
	}
    }
    
    .btn, .btn-submit, .send { /* the button should be a regular bootstrap looking button */
	all: initial;
	
	&:focus, &:active {
		     all: initial;
		 }
    }
}



/* Rules for screens wider than 800px */
@media screen and (min-width: 800px) {

    .letter, .footer, .navbar-fixed-bottom, option {
	max-width: 50%;
	padding: 5%;
    }
    
}

