/* Place all the styles related to the requests controller here. 
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/  */

body {
    background-image: image-url('wooden_desk.png');
    display: flex;
    flex-direction: column;
}


#request-content {
    position: relative;
}

#new-request-form {

    position: fixed;
    bottom: 0;
    right: 5%;
    left: 5%;
    
    /* Dimensions */
    /* Do not add a width, it will break
    height: 50%;

    /* Margins and whatnot */
    background-image: image-url('plain-paper-background.jpg');
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    box-shadow: 1px 1px 13px black;

    .letter {
	/* Font Related Styling */
	font-family: 'Baskerville Italic', 'Adobe Caslon Pro', Garamond, Palatino, 'Times New Roman', Georgia, serif;
	font-style: italic;
	font-size: 13pt;
	
	/* Position and Sizing */
	margin-top: 8%;
	margin-bottom: auto;

	/* Form Related Styling */

	.indent {
	    margin-left: 5%;
	}
	input {
	    width: 100px;
	}

    }

    .form-group {
	display: inline-block;
    }


}